/*

name: Scrapbook
designer: Ruan YiFeng
designer_url: http://www.ruanyifeng.com
description: clean and minilism.
layouts: one-column, two-column-left, two-column-right, three-column

*/

/* CSS Resetting */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li, tt,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:left;
 text-decoration:none;
 border-bottom:none;
 font-weight:normal;
 font-style:normal;
 border:none;
 color:#111111;
 
}

/* Basic Styling */

body {
       margin:0;
       padding:0;
       background-color: #f5f5d5 ;
       font-family: Georgia, serif;
       letter-spacing: -0.01em;
       word-spacing:0.2em;
       line-height: 1.8em;
       font-size:62.5%;
       color:#111111;
       width:98%;
}

body.mobile{
    font-size: 60%;
}

body.mobile.two-columns{
    font-size: 100%;
}

@media (max-width: 30rem) {
  body,
  body.mobile.two-columns{
    font-size: 60%;
  }
}

h1{
       font-size:2.88em;
}

h2{
       font-size:2.88em;
}

body.mobile h2{
    font-size: 2em;
}

@media (max-width: 30rem) {
  h2{
    font-size: 2em;
  }
}

h3{
       font-size:1.87em;
}

h4{
       font-size:1.5em;
}

ul li {
       list-style-type: square; }

ol li {
       list-style-type: decimal;
       list-style-position:inside; }

img {
       border: 2px solid #00398a; }
       
strong{
  font-weight:800; 
}

p,li{
  font-size:1.6em;
  line-height:220%;
} 

input,textarea{
  font-size:1.13em;
}

select,button{
  font-size:1.03em;
}

/* Container */

#container{
       margin: 0 auto;
       background-color:#f5f5d5;
       padding: 1em;
       
}

body.one-column #container{
       width: 65%;
       min-width:640px;
       max-width:960px;
}

body.two-columns #container{
    width:85%;
  min-width: 780px;
  max-width: 1260px;
}

body.mobile.one-column #container,
body.mobile.two-columns #container{
  width: 98%;
  min-width:0px;
}

@media (max-width: 48rem) {
  #container{
       padding: 0.5em;
  }
  body.one-column #container{
    width: 98%;
    min-width:0px;
  }
  body.two-columns #container{
    width:98%;
    min-width:0px;
  }
}

/* Header */

#header{
  width:100%;
}

#header{
  border-bottom:1px solid #d3d3d3;
  margin:1em;
  float:left;
  height:5em;
}

#header h1,#header #header-description, #header div#header-name{
  margin-top:0.9em;
  font-size:1.8em;
  /* float:left; */
  color:#556677;
}

#header h1, #header div#header-name{
    float:left;
}

#header #feed_icon,#header #google_search{
       float:right;
       margin-left:1%;
       margin-right:1%;
}

#header #feed_icon{
  margin-top:0.9em;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg); 
  -o-transform: rotate(5deg);
  transform: rotate(5deg); 
  -webkit-transition: -webkit-transform .4s ease-in; 
  -moz-transition: -moz-transform .4s ease-in; 
  -o-transition: -o-transform .4s ease-in;
  transition: transform .4s ease-in; 
}

#header #feed_icon:hover{
  -webkit-transform: rotate(275deg); 
  -moz-transform: rotate(275deg); 
  -o-transform: rotate(275deg);
  transform: rotate(275deg); 
}

#header #google_search{
       width:201px;
       height:2.4em;
       background-image:url("images/searchtop.gif");
       background-repeat:no-repeat; /*important*/
       padding:0px;
       margin:1.3em 1em;
       position:relative; /*important*/
}

#header #google_search form {
       display:inline ;
}

#header #google_search .searchbox {
border:0px; /*important*/
background-color:transparent; /*important*/
position:absolute; /*important*/
top:0px;
left:1px;
width:180px;
height:24px;
}

#header #google_search .searchbox_submit {
border:0px; /*important*/
background-color:transparent; /*important*/
position:absolute; /*important*/
top:0px;
left:176px;
width:29px;
height:25px;
}

#header a{
       color:orange;
}

#footer img{
  border:none;
}

body.mobile #header #feed_icon,
body.mobile #header #google_search{
  display: none;
}

@media (max-width: 30rem) {
  #header #feed_icon,#header #google_search{
    display: none;
  }
}

body.mobile #header{
    margin: 0 1em;
    height: 3em;
    margin-bottom: 1em;
    max-width: 95%;
 }
body.mobile #header h1,
body.mobile #header #header-description, 
body.mobile #header div#header-name{
    margin-top:0.5em;
  }

@media (max-width: 48rem) {
  #header{
    margin: 0 2em;
    height: 3em;
    margin-bottom: 1em;
    max-width: 95%;
 }
  #header h1,
#header #header-description, 
#header div#header-name{
    margin-top:0.5em;
  }
}
/* Content */

#content{
       clear:both;
       margin:1.5em 1em 1em 1em;
}

#content h1, h2, h3 {
       margin:0.4em 0 0.2em 0;
       padding: 0 0 0.2em 0;
       color:#000000;
       font-weight:500;
       letter-spacing: -0.03em;
       border-bottom:1px solid #d3d3d3;
}

#content a:link{
       color:#556677;
}

#content a:visited{
       color:#556677;
}

#content a:hover{
       color:#665544;
}

#content .email{
       color:#556677;
}

/* One Column Layout*/

.one-column #alpha{
       width:100%;
}

.one-column #alpha h1{
  line-height:250%;
        font-family:'Trebuchet MS', Arial, 'Lucida Grande', Verdana, Lucida, Helvetica, sans-serif;  
}

body.one-column #content #alpha{
  padding-top:0.5em;
}  

body.one-column #content #alpha p{
  margin-top:1em;
  line-height:180%;
  margin-left:0.8em;
}

body.one-column #content #alpha .asset-content a:link{
       color:#223472;
}

body.one-column #content #alpha .asset-content a:visited{
       color:#440066;
}

body.one-column #content #alpha .asset-content a:hover{
       color:#D03500;
}

body.one-column #content #alpha .asset-content a:active{
       color:#9A2C06;
}

body.one-column #content #alpha .asset-content img{
  border: 0.3em solid #e0dfcc;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;

}

body.mobile.one-column #content #alpha .asset-content img{
  max-width: 95%;
  overflow: auto;
  border: 0.15em solid #e0dfcc;
}

@media (max-width: 48rem) {
  body.one-column #content #alpha .asset-content img{
    max-width: 95%;
    overflow: auto;
    border: 0.15em solid #e0dfcc;
  }
}

body.one-column #content #alpha .asset-content h2,
body.one-column #content #alpha .asset-content h3{
  margin-top:1.5em;
}

body.one-column #content #alpha .asset-content ul,
body.one-column #content #alpha .asset-content ol,
body.one-column #content #alpha .asset-content table{
  margin-left:4em;
}

body.mobile.one-column #content #alpha .asset-content ul,
body.mobile.one-column #content #alpha .asset-content ol,
body.mobile.one-column #content #alpha .asset-content table{
  margin-left:1.5em;
}

@media (max-width: 48rem) {
  body.one-column #content #alpha .asset-content ul,
  body.one-column #content #alpha .asset-content ol,
  body.one-column #content #alpha .asset-content table{
    margin-left:1.5em;
  }
}

body.one-column #content #alpha .asset-content table{
  border:1px solid #2b2b2b;
  font-family: verdana,arial,sans-serif;
  font-size:100%
    color:#333333;
    border-width: 1px;
    border-collapse: collapse;
    width: 90%;
}

body.one-column #content #alpha .asset-content table td{
  border:1px solid #2b2b2b;
  font-size:1.4em;
       border-width: 1px;
    padding: 0.6em;
    border-style: solid;
    border-color: #666666;
}

body.one-column #content #alpha .asset-content table th{
      border-width: 1px;
      font-size:1.4em;
    padding: 0.6em;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}

body.one-column #content #alpha ul#entry-folder span.folder-tag{
  color:green;
}



/* Homepage */

body.two-columns #content #alpha #homepage h3{
  font-size: 2.2em;
  font-weight: 500;
  margin-top: 2em;
}

body.two-columns #content #alpha #homepage ul{
  margin-left:4em;  
}

body.two-columns #content #alpha #homepage ul li,
body.two-columns #content #alpha #homepage ul li span{
   color: rgba(0,0,0,0.5);
}

body.mobile.two-columns #content #alpha #homepage ul{
    margin-left:2em;
}

body.mobile.two-columns #content #alpha #homepage ul li span{
    display: none;
}

@media (max-width: 48rem) {
  body.two-columns #content #alpha #homepage ul{
    margin-left:2em;
  }

  body.two-columns #content #alpha #homepage ul li span{
    display: none;
  }
}

#homepage #homepage-alpha{
       width:58%;
       float:left;
}

#homepage #homepage-beta{
       width:34%;
       float:left;
       margin-left:3%;
}

body.mobile #homepage #homepage-alpha,
body.mobile #homepage #homepage-beta{
    float:left;
    width:95%;
    margin-left:0;
}

@media (max-width: 30rem) {
  #homepage #homepage-alpha,
  #homepage #homepage-beta{
    float:left;
    width:95%;
    margin-left:0;
  }
}

body.two-columns #content #homepage .module-content li{
       line-height:180%;
       margin-left:1em;
       font-size:1.44em;
}

body.two-columns #alpha #homepage-beta .module h2{
       border-bottom:none;
}

body.two-columns #homepage #homepage-beta .module-content{
       border-left:1px solid #d3d3d3;
       border-top:1px solid #d3d3d3;
       padding:0.3em;
}

body.mobile.two-columns #homepage_pos img{
    max-width: 100%;
    overflow: auto;
}

@media (max-width: 48rem) {
  body.two-columns #homepage_pos img{
    max-width: 100%;
    overflow: auto;
  }
}

/* Footer */

#footer {
       margin:0 1em;
       border-top:1px solid #d3d3d3;
       color:#d3d3d3;
       padding-top:0;
       clear:both;  
       line-height:1.2;     
}

#footer p{
  font-size:1.6em;
}

#foot-content{
  float:right;  
}

#footer a{
       color:gray;
}

#footer p{
  text-align:right;
       margin:0 2em;
       padding:0.3em;
       color:gray;
}


.mt-main-index #alpha #photo{
       width:120px;
       margin:0em 2em;
       padding:0;
}

.mt-main-index #alpha #photo p{
       padding:0;
       margin:0px;
       text-align:center;
       color:gray;
       font-size:1.58em;
}

.mt-main-index #alpha #photo img {
       padding:0.3em;
       width:100px;
       background-color:#ffffff;
       border:1px solid #336699;
}

